<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drivers</title>
    <style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h1> Welcome to the Driver list page. </h1>


<table align="center">
    <tr>
        <th>DRIVER NAME</th>
        <th>DRIVER ID</th>
    </tr>
    <tr th:each="driver: ${getDriver}">
        <td th:text="${driver.name}"></td>
        <td th:text="${driver.id}"></td>
    </tr>

</table>
</body>
</html>